In [1]:
import numpy as np
import pandas as pd

In [3]:
labels=['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d={'a':10, 'b':20, 'c':30}

In [4]:
d

{'a': 10, 'b': 20, 'c': 30}

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
series1= pd.Series([1,2,3,4,5],['USA',"Germany",'India','Brazil','China'])
series1

USA        1
Germany    2
India      3
Brazil     4
China      5
dtype: int64

In [21]:
series2= pd.Series([1,2,3,4,5],['USA',"Germany",'India','Italy','Rome'])
series2

USA        1
Germany    2
India      3
Italy      4
Rome       5
dtype: int64

In [22]:
series1 + series2

Brazil     NaN
China      NaN
Germany    4.0
India      6.0
Italy      NaN
Rome       NaN
USA        2.0
dtype: float64

In [13]:
series1['India']

3

In [15]:
series3 = pd.Series(data=labels)
print(series3)

0    a
1    b
2    c
dtype: object

In [ ]:
series3